<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ArticleActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="keyword" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="article"
                    android:pathPrefix="/activity"
                    android:scheme="koin" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LostAndFoundReportActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
