<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:fullBackupContent="false">

        <activity
            android:name="in.koreatech.koin.core.activity.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="in.koreatech.koin.core.activity.ActivityBase" />

    </application>


</manifest>
