<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".KoinBusinessApplication">
        <activity
            android:name=".main.BusinessMainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_koin_business"

            android:label="@string/business_app_name"
            android:theme="@style/Theme.KOIN_ANDROID">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
