package `in`.koreatech.koin.data.repository

import `in`.koreatech.koin.domain.repository.{{NAME}}Repository
import javax.inject.Inject

class {{NAME}}RepositoryImpl @Inject constructor() : {{NAME}}Repository
